
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 200;
}

.centered {
    text-align: center;
}
.wrapper {
    width: 100%;
    padding: 30px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}


.grid-container {
    display: none;
}

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}

ul.rig li h3 {
    margin: 0 0 5px;
}

ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}

ul.rig.columns li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}

@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }
}

html, body{
	background-color : #F4F4F4;
}


div p{
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

.headersect
{
	background-color:#5C5C5C;
    width : 100%;
    z-index: 9999;
}

a:link.button, a:visited.button {
    display: block;

    font-weight: bold;
    color: #FFFFFF;
    background-color: #5C5C5C;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover.button, a:active.button {
    background-color: black;
}

.footersect{
	background-color:#5C5C5C;
    height : 13%;
    position:fixed;
    width :100%;
    bottom: 0;
    z-index: 9999;
}

.centerbox {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: white;
}

.right{
    float: right;
}

.cred{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    margin: 0px 5px 5px 5px;
    width:234px;
}

.fsname{
    width:100px;
}

.cred:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    margin:0px 5px 5px 5px;
}

.credbutton {
    margin:5px;
    padding:7px;
    border: 0px ;
    background-color: #FF6666;
    color:white;
    text-decoration:none;
    -webkit-box-shadow: 0px 1px 1px #B20000;
    -moz-box-shadow: 0px 1px 1px #B20000;
    box-shadow: 0px 1px 1px #B20000;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.credbutton:hover, .credbutton:focus {
    margin:5px;
    padding:7px;
    border: 0px ;
    background-color: #BA1919;
    color:white;
    text-decoration:none;
    -webkit-box-shadow: 0px 1px 1px #B20000;
    -moz-box-shadow: 0px 1px 1px #B20000;
    box-shadow: 0px 1px 1px #B20000;
}